html, body {
  background-color: rgb(35, 35, 35);
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(35, 35, 35);
  color:rgb(255, 255, 255);
}
      /* AI CHAT BOT */

#webchat .bpFab,
#webchat .bpFabIcon {
  display: none !important;
}

#webchat {
  position: static !important;
  width: 90vw;
  height: 70vh;
}

#webchat iframe {
  position: static;
  height: 100%;
  width: 100%;
}


      /* BUTTONS */

button {
  border: 0.5px solid #ffffffd0;
  pointer-events: all;
}

.next_button {
  margin: 0 5vw 3vh auto;
  pointer-events: all;
}

.back_button {
  margin: 0 auto 3vh 5vw;
}

button:active,
button:focus {
  outline: none;
  box-shadow: none;
}

.check_answers_button {
  text-align: right;
}


      /* HEADING */
    
.passage_header {
  margin: 3vh 5vw 0 auto;
  text-align: right;
  padding: 0.5rem;
}

.passage_header h2{
  margin: 0;
}

.passage_header p{
  margin: 0;
}

.subtitle {
  margin: 5vh auto 0;
}

.passage_title {
  margin: 0 auto 5vh;
  font-size: 2rem;
}


      /* STORY */

.parallax_text {
  background-color: #8b3c2bd0;
  max-width: 65vw;
  width: fit-content;
  margin: 0 auto;
  border-radius: 15px;
  color: rgb(220, 220, 220);
  padding: 1px 5px 1px 10px;
  text-align: left;
}

.parallax_text_right {
  margin: 0 10vw 0 60vw;

}

.parallax_text_left {
  margin: 0 60vw 0 10vw;
}

.story_text_div {
  padding: 1vh 3vw;
  text-align: left;
}

.story_instructions {
  padding-top: 10vh;
}

.story_body h2 {
  font-size: 2rem;
  padding-top: 3vh;
}


      /* TITLE PAGE */
    

.title_page h1{
  margin-top: 3.5vh;
}

#title_page_img{
  height: 78vh;
  grid-area: col1;
}

.title_page_instructions {
  display: grid;
  grid-template-columns: 35vw 25vw 25vw;
  grid-template-rows: 30vh 30vh;
  grid-template-areas: 
    "col1 col2 col3"
    "col1 col2 col3";
  height: 80vh;
  width: 100vw;
  gap: 5vh 2vw;
}

.title_page_instructions p {
  padding: 2vh 2vw;
  margin: auto auto;
  height: fit-content;
  width: 20vw;
}

.instruction_box {
  border-radius: 3px;
  padding: 1vh 1vw;
  display: flex;
}


      /* PAGES */


.vocabulary_wordlist {
  font-size: 1.25rem;
  margin-bottom: 8vh;
}

.definitions , .translations , .examples, .synonyms {
  font-size: 1.25rem;
  margin: 1vh;
  font-weight: normal;
}

.definitions p, .translations p, .examples p {
  margin: 0.5vh 0;
}

.syn_tran_box {
  display: flex;
  justify-content: space-evenly;
}

.definitions , .translations, .synonyms {
  width: 40vw;
  margin: 0 auto;
}

.examples {
  text-align: left;
}

.example_body {
  margin-top: 5vh;
  display: grid;
  justify-content: center;
}

.exercise_selection {
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: 1fr;
  margin: 10vh 0;
  justify-content: space-evenly;
  gap: 2vw;
}
    
.review_cloze_buttons_div {
  text-align: center;
  margin: 1vh auto 5vh;
}

      /* AUDIO */

.rhap_main-controls button[aria-label="Forward"],
.rhap_main-controls button[aria-label="Rewind"], 
.rhap_volume-controls {
  display: none !important;
}

.rhap_controls-section {
  justify-content: space-around !important;
  flex: 0 0 auto !important;
}

.rhap_controls-section input {
  background-color: rgba(0, 0, 0, 0);
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #fff;
  height: 6px;
  border-radius: 3px;
}

input[type="range"]::-moz-range-track {
  background: #fff;
  height: 6px;
  border-radius: 3px;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: #fff;
}

/* Style the thumb (button) */
input[type="range"]::-webkit-slider-thumb {
  background: #868686;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-top: -6px; /* Align thumb with track */
  appearance: none;
}

input[type="range"]::-moz-range-thumb {
  background: #868686;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  background: #868686;
  
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
}

/* Remove default outline on focus */
input[type="range"]:focus {
  outline: none;
}

/* Optional: Remove background for Firefox */
input[type="range"] {
  background: transparent;
}

.rhap_additional-controls {
  display: block !important;
  flex: 0 0 auto !important;
}

.rhap_stacked , .rhap_controls-section {
  margin: 0 !important;
}

.rhap_main-controls {
  background-color: rgba(0, 0, 0, 0);
}

.rhap_main-controls {
  vertical-align: top !important;
}

.rhap_container {
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.rhap_container svg {
  vertical-align: top !important;
}

.audio_player_container {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
.audio_player_container img {
   margin: auto auto 5px;
   padding: 0 5px 0 0;
}


.audio_player_container .rhap_progress-section,
.audio_player_container .rhap_time {
  display: none;
}

.audio_player_container.expanded .rhap_progress-section,
.audio_player_container.expanded .rhap_time {
  display: flex;
}

/*
.rhap_container .rhap_progress-section,
.rhap_container .rhap_time {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}


.rhap_container:hover .rhap_progress-section,
.rhap_container:hover .rhap_time {
  opacity: 1;
  pointer-events: auto;
}


 Hide volume control in WebKit browsers 
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button {
  display: none !important;
}
*/
